<ion-view title="Aplicacion" id="page2">
  <ion-content padding="true" class="has-header">
    <h1 id="aplicacion-heading1" style="color:#000000;">Criterio 1</h1>
    <div id="aplicacion-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Capacidades instaladas</p>
    </div>
    <form id="aplicacion-form1" class="list">
      <ion-radio id="aplicacion-radio1" name="c1">1. Bajo nivel de capacidades, generalmente se requiere apoyo de expertos externos (consultores, asesores, etc.)</ion-radio>
      <ion-radio id="aplicacion-radio2" name="c1">2. Existen profesionales a cargo para desarrollar los instrumentos de planificación, pero hay pocos procesos definidos y consensuados institucionalmente que sostienen a la planificación</ion-radio>
      <ion-radio id="aplicacion-radio3" name="c1">3. Alta capacidad profesional, expertos de la institución pueden definir su propia metodología, existen procesos que sostienen la planificación.</ion-radio>
    </form>
    <button id="aplicacion-button3" class="button button-positive button-block">Guardar</button>
  </ion-content>
</ion-view>