<ion-view title="Criterio 2" id="page4">
  <ion-content padding="true" class="has-header">
    <h1 id="criterio2-heading2" style="color:#000000;">Criterio 2</h1>
    <div id="criterio2-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Contrapartes definidas</p>
    </div>
    <form id="criterio2-form3" class="list">
      <ion-radio id="criterio2-radio6" name="c2">1. No están definidas las contrapartes ni los actores que tienen capacidad para tomar decisiones en el proceso de planificación </ion-radio>
      <ion-radio id="criterio2-radio7" name="c2">2. Están definidas las contrapartes responsables al interior de la institución encargada de la planificación.</ion-radio>
      <ion-radio id="criterio2-radio8" name="c2">3. Están definidas las contrapartes responsables al interior y exterior de la institución encargada de la planificación.</ion-radio>
    </form>
    <button id="criterio2-button4" class="button button-positive button-block">Guardar</button>
  </ion-content>
</ion-view>